@use '../../styles/variables' as *;

.cart {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: inherit;
}

.icon {
    font-size: 1.6rem;
}

.badge {
    position: absolute;
  top: -6px;
  right: -10px;

  min-width: 18px;
  height: 18px;
  padding: 0 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $color-primary;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;

  border-radius: 999px;
}